h1 {
  font-size:60px;
  font-family:fantasy;
  color:#940005;
  text-align-last:center;
  letter-spacing:1px;
}

h4{
  font-size:22px;
  font-family:fantasy;
  color:#940005;
  text-align-last:center;
  letter-spacing:1px;
}

body{
  background-color:black;
}

a:link{
  text-decoration:none;
  background-color:#403d2b;
  color:white;
  text-align:center;
  display: block;
  font-family:fantasy;
  padding: 14px 25px;
  font-size:18px;
  margin: .5%;
  letter-spacing:1px;

}

a:visited{
  text-decoration:none;
  background-color:#403d2b;
  color:white;
  text-align:center;
  display: block;
  font-family:fantasy;
  padding: 14px 25px;
  font-size:18px;
  margin: 10%
  letter-spacing:1px;
}

a:hover{
  background-color:#1f1d16;
}
