h4{
  font-size:18px;
  font-family:fantasy;
  color:white;
  text-align-last:center;
  letter-spacing:1px;
}

.divContainer{
background:rgb(120,120,120,.8);
}

.divTextLinks{

}

body{
  background-repeat: no-repeat;
}


a:link{
  text-decoration:none;
  background-color:#403d2b;
  color:white;
  text-align:center;
  display: block;
  font-family:fantasy;
  padding: 14px 25px;
  font-size:18px;
  margin: .5%;
  letter-spacing:1px;

}

a:visited{
  text-decoration:none;
  background-color:#403d2b;
  color:white;
  text-align:center;
  display: block;
  font-family:fantasy;
  padding: 14px 25px;
  font-size:18px;
  margin: 10%
  letter-spacing:1px;
}

a:hover{
  background-color:#1f1d16;
}
